<html>

<head>
    <title>404</title>
    <link rel='icon' href='/image/weather.png'>
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
    <div class="mainDiv">
        {{>header}}
        <p>{{message}}</p>
    </div>

    {{>footer}}
</body>

</html>