<!DOCTYPE html>

<html>

<head>
    <title>about</title>
    <link rel='icon' href='/image/weather.png'>
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
    <div class="mainDiv">
        {{>header}}
        <img class="portrait" src="/image/tebo.jpg" />
    </div>

    {{>footer}}
</body>

</html>