<!DOCTYPE html>

<html>

<head>
    <title>help</title>
    <link rel='icon' href='/image/weather.png'>
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
    <div class="mainDiv">
        {{>header}}
        <p>This is the help page...</p>
    </div>

    {{>footer}}
</body>

</html>